<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PE宣传推广.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF7D21DE1CBE2EB4001C8936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7D21F71CBE2EB4001C8936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF7D22021CBE2EB4001C8936</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
